.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 13%;
  font-size: 48px;
  font-family: Oswald, sans-serif;
}

button {
  margin-top: 45px;
  font-size: 40px;
  border-radius: 5px;
  border: solid 1px;
  height: 60px;
  width: 385px;
  cursor: pointer;
  font-family: Sixtyfour, sans-serif;
  background: transparent;
}

button:hover {
  background-color: #007bff1a; 
}